html{
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: century gothic;
}

nav {
    background-color: #0277BD;
    padding: max(2vh, 12px) 30px 0px;
    height: max(7vh, 45px);
    position: sticky;
    top: 0px;
    z-index: 20;
}

nav>a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: max(4vh, 30px);
}

nav>a:hover{
    color: #bbbbbb;
}

body>footer {
    height: max(5vh, 35px);
    background-color: #dcdcdc;
    padding: max(1.5vh, 0.5em) 10% 0;
}

#main-content{
    min-height: max(86vh, 500px);
}