html{
    scroll-behavior: smooth;
    background-color: #dcdcdc;
}

body {
    margin: 0px;
    font-family: century gothic;
}

nav {
    background-color: #0277BD;
    padding: 10px 30px 0px;
    height: 55px;
    position: sticky;
    top: 0px;
    z-index: 20;
}

a{
    text-decoration: none;
    color: black;
}

nav>a{
    color: white;
    margin-right: 20px;
    font-size: 35px;
}

nav>a:hover{
    color: #bbbbbb;
}

body>footer {
    height: 35px;
    background-color: #dcdcdc;
    font-weight: bold;
    padding: 0.8em 10% 0;
}

#main-content{
    min-height: 80vh;
    background-color: white;
}

#main-content a{
    font-weight: bold;
    text-decoration: underline;
}

@media screen and (max-width:750px){
    nav>a{
        margin-right: 10px;
        font-size: 30px;
    }
    nav{
        height: 45px;
    }
}