#landing{    
    width: 100%;
    height: 120vh;
}

#landing-image-wrap{
    overflow:hidden;
    height: 120vh;
    width: 100%;
}

#landing-image{
    width: 100vw;
    margin: 0%;
}

#landing-quote-wrap{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow-x:hidden;
}

#landing-quote{
    margin: 40vh auto 0;
    height: 150px;
    width: 500px;
    border-radius: 75px;
    background-color: #f5f5f5eb; 
    padding: 2vh;
}


#landing-quote>blockquote>p{
    font-style: oblique;
    font-size: 20px;
    font-weight: bold;
}

#profile{
    width: 100%;
}

#profile-picture{
    width: 250px;
    margin: -15vh auto 0;
}

#profile-picture>img{
    width: 250px;
    border: white solid 10px;
    border-radius: 50%;
    background-color: white;
}

#profile-text{
    margin: -50px 0 0;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}

.profile-field{
    font-weight: bold;
    text-align: right;
}

.profile-column{
    width: 45%;
}

h2{
    text-align: right;
}

#other-media{
    border-top: #bbb solid 1px;
    padding: 50px 10%;
}

#media-links{
    display: flex;
    justify-content: space-evenly;
}

img.media{
    height: 40px;
}

@media screen and (max-width: 1300px){
    #landing-image{
        width: 150vw;
    }
}

@media screen and (max-width: 900px){
    #landing-image{
        width: 200vw;
    }
    
    #profile-text{
        display: block;
        padding: 0 5%;
        margin: 0px;
    }

    .profile-column{
        width: 100%;
    }

    h2{
        text-align: left;
    }

    #profile-left{
        border-bottom: #bbbbbb solid 1px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width:650px){
    #landing-image{
        width: 300vw;
    }
    #landing-quote{
        border-radius: 0px;
        width: 100%;
    }
}