#header-img{
    width: 100%;
    overflow: hidden;
    height: 45vh;
}

#header-img>img{
    width: 100vw;
    margin: -140px 0px;
}

#main-content>.section{
    padding: 10px 20%;
    border-bottom: #dcdcdc solid 1px;
}

table{
    width: 100%;
}

td{
    vertical-align: top;
    padding-top: 5px;
}

.experience-field{
    font-weight: bold;
    text-align: right;
}

h2{
    border-bottom: #dcdcdc solid 1px;
    padding-bottom: 5px;
}

.icon{
    width: 40px;
}

.icon-sm{
    width: 30px;
}

#tech-col-2-sm{
    display: none;
}

#certifications-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.certification{
    border-radius: 10px;
    border: #aaa solid 2px;
    width: 30%;
    box-shadow: 4px 4px 8px 0px gray;
}

.certification>a>img{
    width: 90%;
    border-bottom: #aaa solid 2px;
    padding: 10px 5%;
}

.cert-icon{
    float: left;
}

.certification>a>h4{
    padding: 10px 15px 0 15px;
    margin: 0 auto;
    text-align: right;
}

.flex-break{
    flex-basis: 0%;
    height: 10px;
}

@media screen and (max-width:1200px){
    .flex-break{
        flex-basis: 100%;
    }
    .certification{
        width: 50%;
    }
    #header-img>img{
        margin: -67px 0px;
    }
}

@media screen and (max-width:890px){
    #tech-col-2-sm{
        display: block;
    }
    #tech-col-2-xl{
        display: none;
    }
    #prog-col-2{
        display: none;
    }
    .certification{
        width: 80%;
    }
    #header-img{
        height: auto;
    }
    #header-img>img{
        margin: -25px 0px;
    }
}