{% extends "_base.html" %}
{% block title %}Porfolio{% endblock title %}
{% block content %}
<h1>Porfolio</h1>
<p>Here is a list of small projects I built. Click to see what they are made of and why I took certain design choices.</p>
<div id="portfolio-list">
    <a href="/portfolio/personal-web.html">
        <div class="project">
            <img src="/static/img/personal-web.png" alt="Personal Web">
            <div>
                <h4>Personal Website</h4>
                <p>A static site to work as online resume for people to know me.</p>
            </div>
        </div>
    </a>
    <div class="flex-break"></div>
    <a href="/portfolio/curl-to-ps.html">
        <div class="project">
            <img src="/static/img/curl-to-ps.png" alt="Curl to PS Translator">
            <div>
                <h4>Curl To Powershell Translator</h4>
                <p>A site to translate Curl commands to Powershell's Invoke-RestMethod and vice versa using serverless services.</p>
            </div>
        </div>
    </a>
</div>
{% endblock content %}
{% block css %}
<link rel="stylesheet" href="/static/css/portfolio.css" type="text/css">
{% endblock css %}
