{% extends "_base.html" %}
{% block title %}Resume{% endblock title %}
{% block content %}
<div id="header-img">
    <img src="/static/img/resume.png" alt="Resume">
</div>
<div id="technologies" class="section">
    <h2><nobr><img src="/static/img/technology.png" alt="Technology" class="icon"> Technologies</nobr></h2>
    <table>
        <tr>
            <td colspan="2">
                <h3><nobr><img src="/static/img/cloud.png" alt="Cloud" class="icon-sm"> Infrastructure</nobr> &
                        Cloud</h3>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <ul>
                    <li>Amazon Web Services</li>
                    <li>Kubernetes</li>
                    <li>Docker</li>
                    <li>VMware vSphere</li>
                    <div id="tech-col-2-sm">
                        <li>VMware NSX</li>
                        <li>VMware vRealize Operations</li>
                        <li>VMware vRealize Automation</li>
                        <li>Veeam Backup & Replication</li>
                    </div>
                </ul>
            </td>
            <td id="tech-col-2-xl">
                <ul>
                    <li>VMware NSX</li>
                    <li>VMware vRealize Operations</li>
                    <li>VMware vRealize Automation</li>
                    <li>Veeam Backup & Replication</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <h3><nobr><img src="/static/img/programming.png" alt="Programming" class="icon-sm"> Programming</nobr></h3>
            </td>
        </tr>
        <tr id="programming-sections">
            <td>
                <h4 class="programming-section">Languages</h4>
                <ul>
                    <li>Python</li>
                    <li>JavaScript</li>
                    <li>PowerShell</li>
                    <li>C#</li>
                    <li>Java</li>
                </ul>
            </td>
            <td id="prog-col-2"></td>
            <td>
                <h4 class="programming-section">Frameworks</h4>
                <ul>
                    <li>Django</li>
                    <li>Flask</li>
                    <li><nobr>.NET Core</nobr></li>
                    <li>PowerCLI</li>
                    <li>jQuery</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <h3><nobr><img src="/static/img/other-tech.png" alt="Other" class="icon-sm"> Other</nobr></h3>
                <ul>
                    <li>Git</li>
                    <li>Ansible</li>
                    <li>Apache</li>
                    <li>NGINX</li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div id="experience" class="section">
    <h2><nobr><img src="/static/img/work.png" alt="Work" class="icon"> Experience</nobr></h2>
    <h3><nobr><img src="/static/img/wetcom.png" alt="Wetcom" class="icon-sm"> Wetcom</nobr></h3>
            <span class="experience-field">Period:</span>
            <p>March 2018 - Present</p>
            <span class="experience-field">Position:</span>
            <p>Integrations Developer</p>
            <span class="experience-field">Responsibilities:</span><br>
            <p>Designing, optimizing, automating and documenting IT operations. Developing software solutions.</p>
            <span class="experience-field">Achievements:</span><br>
            <p>Transforming 50 manhours/day invested in IT operations into 10 manhours/day through optimization and
                automation. Adoption of new technologies like Docker, Ansible and Kubernetes.</p>
    </table>
</div>
<div id="certifications" class="section">
    <h2><nobr><img src="/static/img/certifications.png" alt="Certifications" class="icon"> Certifications</nobr></h2>
    <div id="certifications-list">
        <div class="certification">
            <a href="https://www.youracclaim.com/badges/c2fc220b-65cf-407f-8980-aa5909f10514/public_url" target="_blank">
                <img src="/static/img/windows-server.png" alt="Windows Server">
                <h4><img src="/static/img/cert.png" alt="Cert" class="icon-sm cert-icon"> Microsoft <nobr>
                        70-740</nobr>
                </h4>
            </a>
        </div>
        <!-- <div class="flex-break"></div>
        <div class="certification">
            <img src="/static/img/vmware-cma.png" alt="VMware CMA">
            <h4><img src="/static/img/cert.png" alt="Cert" class="icon-sm cert-icon"> VMware <nobr>VCP-MA
                </nobr>
            </h4>
        </div>
        <div class="flex-break"></div>
        <div class="certification">
            <img src="/static/img/amazon-cda.png" alt="Amazon CDA">
            <h4><img src="/static/img/cert.png" alt="Cert" class="icon-sm cert-icon"> Amazon Developer
                Associate</h4>
        </div> -->
    </div>
</div>
<div id="languages" class="section">
    <h2><nobr><img src="/static/img/languages.png" alt="Languages" class="icon"> Languages</nobr></h2>
    <div class="language">
        <h3><nobr><img src="/static/img/spanish.png" alt="Spanish" class="icon-sm"> Spanish</nobr></h3>
        <p>Native speaker.</p>
    </div>
    <div class="language">
        <h3><nobr><img src="/static/img/english.png" alt="English" class="icon-sm"> English</nobr></h3>
        <p>Fluent speaker. Ease and experience holding spoken conversations with native english speakers. I read, write
            and listen in english in a daily basis without any trouble.</p>
    </div>
    <div class="language">
        <h3><nobr><img src="/static/img/russian.png" alt="Russian" class="icon-sm"> Russian</nobr></h3>
        <p>Basic experience. Completed the elementary level TEL/A1 course at <a
                href="http://arg.rs.gov.ru/es/about">Casa de Rusia</a>.</p>
    </div>
</div>
<div id="education" class="section">
    <h2><nobr><img src="/static/img/education.png" alt="Education" class="icon"> Education</nobr></h2>
    <div class="education">
        <h3><nobr><img src="/static/img/analyst.png" alt="Analyst" class="icon-sm"> Systems</nobr> Analyst Associate
            Degree</h3>
        <span>ORT Technology Institute of Argentina</span>
        <footer>March 2019 — Present</footer>
    </div>
    <div class="education">
        <h3><nobr><img src="/static/img/russian.png" alt="Russian" class="icon-sm"> TEL/A1</nobr> Elementary Russian
            Language Level</h3>
        <span>Casa de Rusia</span>
        <footer>March 2014 — December 2014</footer>
    </div>
    <div class="education">
        <h3><nobr><img src="/static/img/electronics.png" alt="Electronics" class="icon-sm"> Electronics</nobr> Technician
        </h3>
        <span>Pio IX High School of Buenos Aires</span>
        <footer>March 2010 — November 2016</footer>
    </div>
</div>
<div id="hobbies" class="section">
    <h2><nobr><img src="/static/img/hobbies.png" alt="Hobbies" class="icon"> Hobbies</nobr></h2>
    <p>Apart from technology, I enjoy learning history (mainly interested in the XVIII to XX centuries), playing music
        (electric bass, armonica and piano), watching football (River Plate fan) and video gaming.</p>
</div>
{% endblock content %}
{% block css %}
<link rel="stylesheet" href="/static/css/resume.css" type="text/css">
{% endblock css %}